<center>
  <h1 class="top-copy">世界でもっともシンプルなキーワード選定ツール</h1>
  <li class="btn btn--orange"><%= link_to 'ゲストで使う', "#", {class: "btn-link"} %></li>
  <li class="btn btn--orange"><%= link_to 'ユーザー登録（無料）', "#", {class: "btn-link"} %></li>
</center>