<li id="keyword-<%= keyword.id %>">
  <span class="query"></span>
  <span class="volume"></span>
  <span class="goal_rank"></span>
  <span class="goal_pv"></span>
  <span class="goal_cvr"></span>
  <span class="goal_price"></span>
  <span class="goal_profit"></span>
  <span class="description"></span>
  <span class="timestamp">
    <%= time_ago_in_words(dish.created_at) %>前に投稿
  </span>
</li>