<header class="navbar navbar-fixed-top">
 <div class="container">
   <nav>
     <ul class="nav navbar-nav navbar-left">
       <li><%= link_to "Keyword-profit", "#" %></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to 'ログイン', "#" %></li>
     </ul>
   </nav>
 </div>
</header>